$light: #fafafa;
$dark: #040406;
$input-bg-light: #e0e1e159;
$input-bg-dark: #343944;
$light-color: #e9e9e9;
$grey-color: #6c757d;

.theme {
   &.light {
      color: $dark;
      background: $light;

      input {
         background: #e0e1e159;
         border: 0;
         color: $dark;

         &:focus {
            box-shadow: none;
         }
      }

      .custom-flag-menu {
         background: $light;
         button {
            background: $light;
         }
      }

      .medium-logo-title,
      .logo-title {
         fill: $dark;
      }
      .text-grey {
         color: $grey-color;
      }
   }

   &.dark {
      color: $light-color;
      background: $dark;
      .logo-block {
         background: $dark;
      }

      input {
         background: $input-bg-dark;
         border: 0;
         color: $light-color;
         opacity: 0.7;

         &:focus {
            box-shadow: none;
         }
      }

      .custom-flag-menu {
         background: $input-bg-dark;
         button {
            background: $input-bg-dark;
         }
      }

      .medium-logo-title,
      .logo-title {
         fill: $light;
      }
      .text-grey {
         color: $light;
      }
   }
}
